<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CodMate</string>
	<key>CFBundleExecutable</key>
	<string>CodMate</string>
	<key>CFBundleIdentifier</key>
	<string>ai.umate.codmate</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CodMate</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.5</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSMainStoryboardFile</key>
	<string></string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 CodMate</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSAppleEventsUsageDescription</key>
	<string>CodMate may open Terminal or other apps on your request.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>ai.codmate.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>codmate</string>
			</array>
		</dict>
	</array>
	<key>CodMateGitTag</key>
	<string></string>
	<key>CodMateGitCommit</key>
	<string></string>
	<key>CodMateGitDirty</key>
	<string></string>
</dict>
</plist>
